#pragma once
#include <cstdint>

namespace NNUEWeights {

{% for layer in layers %}
    extern alignas(64) const unsigned char {{ layer.name }}_bytes[{{ layer.size }}];
    extern const {{ layer.c_type }}* {{ layer.name }};

{% endfor %}
}