#include "nnue_weights.h"

namespace NNUE {

{% for layer in layers %}
    alignas(64) const std::array<uint8_t, {{ layer.size }}> {{ layer.name }}_bytes = {
        {% for chunk in layer.chunks %}
        {{ chunk }},
        {% endfor %}
    };

    const std::span<const {{ layer.c_type }}, {{ layer.count }}> {{ layer.name }}(
        reinterpret_cast<const {{ layer.c_type }}*>({{ layer.name }}_bytes.data()), {{layer.count}}
    );
{% endfor %}
}