#pragma once
#include <cstdint>

namespace NNUE {

{% for layer in layers %}
    alignas(64) extern const unsigned char {{ layer.name }}_bytes[{{ layer.size }}];
    extern const {{ layer.c_type }}* {{ layer.name }};

{% endfor %}
}